@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Persistent University</h1>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Persistent University</h2>
        <p>            
            This is a sample application using ASP.NET MVC 5.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>    
</div>